{% extends "layouts/clear.html.twig" %}

{% block body %}
{{ include('widgets/navbar.html.twig', {}) }}

<div class="container">
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</div>

<footer>
    <div class="container">

    </div>
</footer>
{% endblock %}
