{% extends "base.html.twig" %}

{% block content %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">RigPick - tune your mining farm in less than a minute</h1>
                <p class="lead text-muted">12,623 benchmarks, 15 GH/s, 2M miners</p>
                <p>
                    <a href="#" class="btn btn-primary">Join now</a>
                    <a href="#" class="btn btn-secondary">Log in</a>
                </p>
            </div>
        </section>
{% endblock %}