{% extends "layouts/base.html.twig" %}

{% block content %}
    <article class="graphic-card">
        <h1>Mining graphic card {{ card.modelVendorName }} {{ card.seriesName }} {{ card.modelName }}</h1>
    </article>
{% endblock %}
