{% extends "layouts/base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Add graphic card to your rig</h3>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
